{% extends "base.html" %}
{% block title %}Event{% endblock %}
{% block content %}
{% for message in messages %}
  {% if message.tags == "error" %}
    <div role="alert" class="alert alert-error mt-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>{{ message }}</span>
    </div>
  {% endif %}
{% endfor %}
    <div class="container">
        <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-transparent dark:bg-transparent antialiased">
            <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
                <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                    <header class="mb-4 lg:mb-6 not-format">
                        <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{{ event.title }}</h1>
                        <p>{{ event.description }}</p>
                    </header>
                    <div>{{event.detail|safe}}</div>
                    <form method="post" class="mt-2" action="{% url 'event:EventDetail' event.id %}">
                        {% csrf_token %}
                        {% if not request.user.is_authenticated %}
                        <label for="participant_email">Email:</label>
                        <input class="block w-full form-control input mt-2" type="email" id="participant_email" name="participant_email" required>
                        {% endif %}
                        <button class="btn bg-purple-600 mt-2" type="submit">Participate</button>
                    </form>
                </article>
            </div>
          </main>
    </div>
{% endblock %}